doctype html

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Register
h1 Registeration
form.form-contact(action='/register' method='post')
 label(for='name') Name:
    | &#x9;&#x9;
    input#name(type='text', name='name', required='')
    br
    br
    | &#x9;&#x9;
    label(for='email') Email:
    | &#x9;&#x9;
    input#email(type='email', name='email', required='')
    br
    br
    | &#x9;&#x9;
    label(for='password') Password:
    | &#x9;&#x9;
    input#password(type='password', name='password', required='')
    br
    br
    | &#x9;&#x9;
    input(type='submit', value='Submit')

